<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погода на целый день</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/week.css' %}">
</head>
<body>
{% include 'weather/basehead.html' %}
<main class="content">
    <section class="weather">
        <div class="container">
            <div class="weather__more">
                <h1 class="h1">Погода до конца дня</h1>
                <table class="table__main">
                    <tr>
                        <th colspan="13" class="p__main"><h2 class="h2">{{ city }} {{ day_of_week }}</h2></th>
                    </tr>
                    <tr>
                        <th>Время</th>
                        <th>Описание</th>
                        <th>Температура / Чувствуется как</th>
                        <th>Скорость ветра</th>
                    </tr>
                    {% for day in weather.values %}
                        <tr>
                            <td>{{ day.time }}</td>
                            <td>{{ day.weather_description }}</td>
                            <td>{{ day.temp_day }} / {{ day.feels_temp_day }}</td>
                            <td>{{ day.wind_speed }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</main>
{% include 'weather/basefootler.html' %}
</body>
</html>