<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'staff/index.css' %}">
    <meta charset="UTF-8">
    <title>Добавить информацию о сотруднике</title>
</head>
<body>
{% include 'staff/basehead.html' %}
<main class="content">
    <section class="post__met">
        <div class="container">
            <div class="post__method">
                <h1 class="h1">Добавить сотрудника</h1>
                <form action="{% url 'mpage:staff:add' employee_inf %}" method="POST" class="form__add"> {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="save" id="save" value="Добавить" class="button__save">
                </form>
            </div>
        </div>
    </section>
</main>
{% include 'staff/basefootler.html' %}
</body>
</html>