<div class="page">
    <a href="#" title="Вернуться к началу страницы" class="top"><p class="p__top">Вверх</p></a>
    <header class="header">
        <section class="header">
            <div class="container">
                <div class="header__inner">
                    <nav class="nav">
                        <ul>
                            <li class="nav__link__main"><a href="{% url 'mpage:index' %}" class="a__head">Главная</a>
                            </li>
                            <li class="nav__link">|</li>
                            <li class="nav__link__main"><a href="{% url 'mpage:staff:index' %}" class="a__head">Таблица
                                сотрудников</a></li>
                            <li class="nav__link">|</li>
                            <li class="nav__link__main"><a href="{% url 'mpage:weather' %}" class="a__head">Узнать
                                погоду</a></li>
                            <li class="nav__link">|</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </header>