<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'staff/detail.css' %}">
    <title>{{ employee.first_name }} {{ employee.last_name }}</title>
</head>
<body>
{% include 'staff/basehead.html' %}
<main class="content">
    <section class="emp">
        <div class="container">
            <div class="employer">
                <h1 class="h1">{{ employee.first_name }} {{ employee.last_name }}</h1>
            </div>
        </div>
    </section>
    {% if employee.detail_set.get_queryset %}
        <section class="emp">
            <div class="container">
                <div class="employer">
                    {{ employee.detail_set.get.detail_text }}
                </div>
                <div class="email">
                    {{ employee.detail_set.get.e_mail }}
                </div>
                <div class="address">
                    {{ employee.detail_set.get.address }}
                </div>
            </div>
        </section>
        <section class="update">
            <div class="container">
                <div class="update__data">
                    <form action="." method="post"> {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Сохранить" class="button__save">
                    </form>

                </div>
            </div>
        </section>
    {% else %}
        <section class="no__detail">
            <div class="container">
                <div class="no__detail__emp">
                    <h2 class="h2">Про этого работника более детальной информации нет</h2>
                    <p class="p__main">Желаете добавить?</p>
                </div>
            </div>
        </section>
        <section class="add__info">
            <div class="container">
                <div class="add__information">
                    <a href="{% url 'mpage:staff:add' employee.id %}" class="a__main">Добавить информацию</a>
                </div>
            </div>
        </section>
    {% endif %}


</main>
{% include 'staff/basefootler.html' %}
</body>
</html>