<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уволить</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'staff/dismiss.css' %}">
</head>
<body>
{% include 'staff/basehead.html' %}
<main class="content">
    <section class="dismiss">
        <div class="container">
            <div class="dismiss__employee">
                <h1 class="h1">Уволить сотрудника {{ employee.first_name }} {{ employee.last_name }}?</h1>
                <div class="confirm__not">
                    <form action="" method="post"> {% csrf_token %}
                        <input type="submit" value="Yes" class="button__save">
                    </form>
                    <form action="{% url 'mpage:staff:index' %}">
                        <input type="submit" value="Cancel" class="button__save">
                        </form>
                </div>
            </div>
        </div>
    </section>
    <section class="confirm">
        <div class="container">

        </div>
    </section>
</main>
{% include 'staff/basefootler.html' %}
</body>
</html>